html, body, #root {
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
